/*
 *   Css custom
 */
*
  margin: 0
  padding: 0

li
  list-style-type: none

main
  overflow: hidden

// Variaveis

// color
colorGreen = #97c9a5
colorRed   = #e45361
colorLightRed = #ec6452
colorTrans = transparent
colorWhite = #ffffff
colorBlack = #353535
colorOrange = #f9a542
colorBlue = #37a8e0
colorDarkBlue = #3e5e6d
colorGray = #979797
colorDarkGray = #545252

// tamanhos
full = 100%

// Fontes
fontSansBlack = 'encode_sansblack'
fontSansExtraBold = 'encode_sansextrabold'

// mixins
size( width, height = width)
      width: width
      height: height

imgRep()
  text-indent: -9999px
  overflow: hidden

ftModal( fonts, colors )
  font: fonts
  color: colors
  text-transform: uppercase

btMidia( box, bgColor, linkImg)
  size( box )
  imgRep()
  background: bgColor url( linkImg ) center no-repeat
  border-radius: full
  display: inline-block

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -o-{prop} args
  {prop} args

transition()
  vendor('transition', arguments)


a
  transition( all .1s ease-in )

// Classes uteis
.img-full
  width: 100%

.pad-reset
  padding-right: 0!important

.pd-reset
  padding: 0!important


// Reset bootstrap
.tooltip-inner{
  background-color: #fff!important
  color: #000!important;
}

.tooltip.top .tooltip-arrow{
  border-top-color: #fff!important
}

// Topo
.topo

  // Logo
  .navbar-brand
    height: auto

    img
      size( full, auto )

  // Barra menu
  .navbar-default
    margin-bottom: 0
    background-color: colorTrans
    border: 0
    position: absolute
    top: 0
    z-index: 99
    width: 100%

    &.menu-fixo
      position: fixed
      top: 0
      left: 0
      padding: 0
      z-index: 9999
      background-color: alpha(colorGreen, 0.85)
      border-bottom: 1px solid alpha(colorGreen, 0.95)
      border-radius: 0
      transition( background .3s ease-in-out )

      &:hover
        background-color: alpha(colorGreen, 0.9)!important

      .navbar-brand
        width: 70%

  .nav.navbar-nav
    margin: 10px 0 0 4%

    .active
      background-color: colorTrans
      color: #353535!important

      a
        color: colorGreen
        background-color: colorTrans

    li
      a
        &:hover
          color: colorRed

    a
      font: 1.1em encode_sansextrabold
      color: colorWhite
      text-transform: uppercase



body
  background: colorWhite

.box-section
  height: 720px

//  Titulos
.tit
.tit1
.tit2
.sub-tit
  margin: 0

.tit
  ftModal( 2.6em encode_sansextrabold, colorGray )

.tit1
  ftModal( 2.1em encode_sansblack, colorGreen )

.tit2
  ftModal( 2.2em encode_sansextrabold, colorBlack )
  margin-bottom: .98em

.tit-p
  font: 1em/1.6em encode_sansextralight
  color: colorBlack

// sub-titulos
.sub-tit
  font: 1.9em encode_sanslight
  color: colorGray

  /.link-p
    color: colorGreen

    &:hover, &:focus
      text-decoration: none
      color: colorRed

.icon-seta-top
  size(56px)
  position: absolute
  bottom: 8%
  left: 0
  right: 0
  margin: 0 auto
  text-indent: -9999px
  overflow: hidden
  z-index: 99
  background: url('../img/seta.png') no-repeat
  -webkit-animation-duration: 1.5s
  animation-duration: 1.5s
  -webkit-animation-fill-mode: both
  animation-fill-mode: both
  -webkit-animation-iteration-count: infinite
  animation-iteration-count: infinite
  -webkit-animation-direction: alternate
  animation-direction: alternate
  -webkit-animation-name: slideInDown
  animation-name: slideInDown



// Section
.quem-somos
  padding-top: 6em
  background-color: colorWhite

// botões
.nav-cicle
  @extend .tit-p
  margin-top: 7em
  padding-bottom: 6em

  span
    margin: 0 1.250em

.bt-cicle
  ftModal( 1em  encode_sansextrabold, colorWhite )
  padding: .938em 1.875em
  border-radius: 2.813em

  &:hover, &:focus
    text-decoration: none
    color: colorBlack

  &.bt-green
    background-color: colorGreen
    padding: .938em 3.875em

  &.bt-red
    background-color: colorRed


// Parallax
.parallax
  position: relative
  width: 100%
  height: 500px
  min-height: 100%
  overflow: hidden
  background-image: url('../img/bg-full.jpg')
  background-position: 50% 0
  background-repeat: repeat
  background-attachment: fixed
  background-size: cover
  margin: 0 auto
  z-index: 7

// Section
.clientes
  background: colorWhite
  padding: 5em 0


// Logos clientes
.box-clientes
  display: inline-block
  margin: 5em 0 3em

  .link
    &:hover .img-full
      border-color: alpha(colorGray, 0.7)

  .img-full
    border: 1px solid alpha(colorGray, 0.4)
    border-radius: 5.813em
    transition(all .1s ease-in-out )

.servicos
  background: colorWhite
  padding: 4em 0

  .row + .row
    margin-top: 2em

.box-serv
  text-align: center

.serv-tit
  ftModal( 1.8em encode_sansextrabold, colorWhite )
  margin-bottom: 1em

.serv-desc
  font: 1em encode_sansextralight
  color: colorWhite

.serv-tit-g
  ftModal( 1.8em encode_sansextrabold, colorWhite )

// Backgrounds
$padding
  padding: 4em

.bg-red
  @extend $padding
  background-color: colorLightRed

.bg-darkBlue
  @extend $padding
  background-color: colorDarkBlue
  min-height: 355px

.bg-blue
  @extend $padding
  background-color: colorBlue

.bg-orange
  @extend $padding
  background-color: colorOrange

.bg-green
  @extend $padding
  background-color: colorGreen
.bg-black
  background-color: colorBlack

// Whatsapp
.whatsapp
  border-top: 1px solid alpha(colorGray, 0.3)

  p
    font: 1.7em encode_sansextralight
    color: alpha(colorBlack, 0.7)

  p + p
    margin-top: 1em

  aside
    margin-top: -20px

.tit-whats
  font: 4.8em/1.1em encode_sansmedium
  color: alpha(colorBlack, 0.7)
  margin: 1em 0

// Trabalhos
.trabalhos
  margin-bottom: 4em
  background: colorWhite
  position: relative

  .carousel-caption
    padding: 0
    text-shadow: inherit
    text-align: left
    top: 12%
    left: 10%
    right: 0
    bottom: auto

  .carousel-control
    width: 7%
    text-shadow: inherit
    background: none

  .carousel-inner img
    margin: 0 auto

   // Icones
  .glyphicon
    background: url('../assets/img/icon-seta.png') no-repeat
    width: 59px
    height: 14px

  .tit-trab
    ftModal( 3.8em encode_sansextrabold, colorWhite)
    margin: 0

  .sub-tit-trab
    ftModal( 2.2em encode_sansmedium, colorWhite )
    margin: 0 0 1em

  .tit-p
    margin-bottom: 1.9em
    color: colorWhite

  .tit
    margin: 1em 0
.list-trabalhos
  .item
    overflow: hidden
  [class*="col-"]
    padding: 0

// Contato
.contato
  padding: 4em 0
  background: colorBlack

  .tit
  .sub-tit
    color: colorWhite

  .tit
    font-size: 2em
  .sub-tit
    font-size: 1.775em

  .form
    padding: 4em 0

    .form-menor
       padding: 0 15em

    .form-control
      font: 1.1em encode_sanslight
      color: colorWhite
      background-color: colorDarkGray
      border-color: colorDarkGray
      padding: 1.2em
      &:focus
        box-shadow: 0 0 8px alpha( colorGreen, 0.6)

    .txtarea
      height: 150px
      resize: none

  .bt-full-cicle
    size(179px)
    ftModal( 1.688em encode_sansextrabold, colorWhite )
    float: right
    border-radius: 100%
    background: colorRed
    margin-top: -125px
    transition( all .2s ease-in )

    &:hover
      color: colorBlack
      background: colorGreen


.rdp
  padding: 2em 0 0
  border-top: 1px solid alpha( colorWhite, 0.5 )

  .tit-end
    font: 0.938em/1.8em encode_sanslight
    color: colorWhite
    margin: 2px 0 0 1.5em

// Midias
.box-midias
  display: inline-block
  margin-top: 5px

  li
    display: inline-block
    margin-left: 8px

  .facebook
    btMidia( 43px, colorDarkGray, '../img/icom-face.png')
    &:hover
      background-color: #425f9c

  .instagram
    btMidia( 43px, colorDarkGray, '../img/icon-insta.png')
    &:hover
      background-color: #437197

  .linkedin
    btMidia( 43px, colorDarkGray, '../img/icon-linkedin.png')
    &:hover
      background-color: #1b86bc

  .icon-whatsapp
    btMidia( 43px, colorDarkGray, '../img/icon-wpp.png')
    &:hover
      background-color: colorGreen


.box-int-pac
  width: 100%
  min-height: 100px
  padding: 2em

  .tit-trab, .sub-tit-trab, .tit-p
    color: colorGray

  .tit-trab
    font-size: 2.8em

  .sub-tit-trab
    font-size: 1.5em

  .bt-cicle
    float: left

.marc
  position: relative
  opacity: 1!important
  &:before
    content: ''
    position: absolute
    left: 0
    right: 0
    bottom: 0
    width: 10px
    margin: 0 auto
    z-index: 9999
    border-left: 10px solid transparent
    border-right: 10px solid transparent
    border-bottom: 10px solid colorWhite
