/*
* Media queries
*/

@media screen and (max-width: 767px){

    /* logo menu fixo */
    .topo .navbar-default.menu-fixo .navbar-brand{
        width: 20%;
        min-width: 120px;
    }


    /* nav menu*/
    .navbar-default .navbar-toggle{
        border-color: transparent;
        margin-top: 25px;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }

    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover{
        background-color: transparent;
    }

    .nav-cicle{
        margin-top: 4em;
        padding-bottom: 4em;
    }

    .navbar-header{
        width: inherit;
    }

    .nav-cicle span{
        margin-bottom: 10px;
        display: block;
    }

    .bt-cicle{
        display: block;
        margin-bottom: 10px;
    }

    .quem-somos, .whatsapp{
        text-align: center;
    }

    .whatsapp{
        margin-bottom: 4em;
    }

    .slides-navigation{
        display: none;
    }

    .parallax{
        height: 250px;
        background-size: cover;
    }

    .box-clientes{
        width: 100%;
    }

    .box-clientes .item{
        margin-bottom: 1em;
    }

    .carousel-caption .bt-cicle{
        float: left;
    }

    .box-clientes .img-full{
        display: block;
        width: 85%;
        margin: 0 auto;
    }

    .tit-whats{
        font-size: 3.8em;
    }

    .box-serv{
        margin-bottom: 2em;
    }

    .servicos .sub-tit{
        margin-bottom: 2em;
    }

    .servicos .row+.row{
        margin-top: 0;
    }

    .grid figure{
        width: 100%;
    }

    .contato .form{
        padding: 4em 0 2em;
    }

    .contato .form .form-menor{
        padding: 0 1em;
    }

    .contato .bt-full-cicle{
        float: none;
        display: block;
        margin: 0 auto;
    }

    .rdp .tit-end{
        margin: 2em 0;
        text-align: center;
    }

    .rdp .img-full{
        width: 30%;
        float: none;
        display: block;
        margin: 0 auto;
    }

    .box-midias{
        width: 220px;
        display: block;
        margin: 10px auto;
        float: none!important;
    }

    .box-cont-ajax .bt-cicle{
        margin-bottom: 20px;
    }

    .box-cont-ajax .pad-reset{
        padding: 0;
    }
}


@media screen and (min-width: 768px) and (max-width: 990px){

    .topo .nav.navbar-nav{
        margin: 10px 0 0;
    }

    .navbar-header{
        width: 87px;
    }

    .topo .navbar-default.menu-fixo .navbar-brand{
        width: 100%;
    }

    .navbar-brand{
        width: auto;
    }

    .nav > li > a{
        padding: 10px;
    }

    .navbar-collapse{
        padding: 0;
    }

    .quem-somos .tit1{
        margin-top: 2em;
    }

    .nav-cicle, .tit-p{
        font-size: 1.2em;
    }

    .parallax{
        height: 300px;
        background-size: cover;
    }

    .servicos .row+.row{
        margin-top: 0;
    }

    .servicos .sub-tit{
        margin-bottom: 2em;
    }

    .box-serv{
        margin-bottom: 2em;
    }

    .box-clientes .item{
        margin-bottom: 2em;
    }

    .bg-red{
        padding: 3.173em;
    }

    .tit-whats{
        font-size: 3.3em;
        margin: .5em 0;
    }

    .whatsapp p{
        font-size: 1.4em;
    }

    .slides-navigation a{
        width: 40px!important;
        height: 71px!important;
    }

    .trabalhos .slides-pagination{
        display: none!important;
    }

    .grid figure{
        width: 100%;
    }

    .contato .form .form-menor{
        padding: 0 1em;
    }

    .contato .form{
        padding: 2em 0;
    }

    .contato .bt-full-cicle{
        float: none;
        display: block;
        margin: 0 auto;
    }

    .rdp{
        padding-bottom: 2em;
    }

    .box-cont-ajax .bt-cicle{
        margin-bottom: 20px;
    }

    .box-cont-ajax .pad-reset{
        padding: 0;
    }
}