@font-face {
    font-family: 'encode_sansblack';
    src: url('../fonts/EncodeSans-Black-webfont.eot');
    src: url('../fonts/EncodeSans-Black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-Black-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-Black-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-Black-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-Black-webfont.svg#encode_sansblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansbold';
    src: url('../fonts/EncodeSans-Bold-webfont.eot');
    src: url('../fonts/EncodeSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-Bold-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-Bold-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-Bold-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-Bold-webfont.svg#encode_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansextrabold';
    src: url('../fonts/EncodeSans-ExtraBold-webfont.eot');
    src: url('../fonts/EncodeSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-ExtraBold-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-ExtraBold-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-ExtraBold-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-ExtraBold-webfont.svg#encode_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansextralight';
    src: url('../fonts/EncodeSans-ExtraLight-webfont.eot');
    src: url('../fonts/EncodeSans-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-ExtraLight-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-ExtraLight-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-ExtraLight-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-ExtraLight-webfont.svg#encode_sansextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sanslight';
    src: url('../fonts/EncodeSans-Light-webfont.eot');
    src: url('../fonts/EncodeSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-Light-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-Light-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-Light-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-Light-webfont.svg#encode_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sansmedium';
    src: url('../fonts/EncodeSans-Medium-webfont.eot');
    src: url('../fonts/EncodeSans-Medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EncodeSans-Medium-webfont.woff2') format('woff2'),
    url('../fonts/EncodeSans-Medium-webfont.woff') format('woff'),
    url('../fonts/EncodeSans-Medium-webfont.ttf') format('truetype'),
    url('../fonts/EncodeSans-Medium-webfont.svg#encode_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}