/*
 *   Css custom
 */
* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
main {
  overflow: hidden;
}
a {
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
.img-full {
  width: 100%;
}
.pad-reset {
  padding-right: 0 !important;
}
.pd-reset {
  padding: 0 !important;
}
.tooltip-inner {
  background-color: #fff !important;
  color: #000 !important;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #fff !important;
}
.topo .navbar-brand {
  height: auto;
}
.topo .navbar-brand img {
  width: 100%;
  height: auto;
}
.topo .navbar-default {
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
}
.topo .navbar-default.menu-fixo {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 9999;
  background-color: rgba(151,201,165,0.85);
  border-bottom: 1px solid rgba(151,201,165,0.95);
  border-radius: 0;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.topo .navbar-default.menu-fixo:hover {
  background-color: rgba(151,201,165,0.9) !important;
}
.topo .navbar-default.menu-fixo .navbar-brand {
  width: 70%;
}
.topo .nav.navbar-nav {
  margin: 10px 0 0 4%;
}
.topo .nav.navbar-nav .active {
  background-color: transparent;
  color: #353535 !important;
}
.topo .nav.navbar-nav .active a {
  color: #97c9a5;
  background-color: transparent;
}
.topo .nav.navbar-nav li a:hover {
  color: #e45361;
}
.topo .nav.navbar-nav a {
  font: 1.1em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
}
body {
  background: #fff;
}
.box-section {
  height: 720px;
}
.tit,
.tit1,
.tit2,
.sub-tit {
  margin: 0;
}
.tit {
  font: 2.6em encode_sansextrabold;
  color: #979797;
  text-transform: uppercase;
}
.tit1 {
  font: 2.1em encode_sansblack;
  color: #97c9a5;
  text-transform: uppercase;
}
.tit2 {
  font: 2.2em encode_sansextrabold;
  color: #353535;
  text-transform: uppercase;
  margin-bottom: 0.98em;
}
.tit-p,
.nav-cicle {
  font: 1em/1.6em encode_sansextralight;
  color: #353535;
}
.sub-tit {
  font: 1.9em encode_sanslight;
  color: #979797;
}
.link-p {
  color: #97c9a5;
}
.link-p:hover,
.link-p:focus {
  text-decoration: none;
  color: #e45361;
}
.icon-seta-top {
  width: 56px;
  height: 56px;
  position: absolute;
  bottom: 8%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 99;
  background: url("../img/seta.png") no-repeat;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.quem-somos {
  padding-top: 6em;
  background-color: #fff;
}
.nav-cicle {
  margin-top: 7em;
  padding-bottom: 6em;
}
.nav-cicle span {
  margin: 0 1.25em;
}
.bt-cicle {
  font: 1em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
  padding: 0.938em 1.875em;
  border-radius: 2.813em;
}
.bt-cicle:hover,
.bt-cicle:focus {
  text-decoration: none;
  color: #353535;
}
.bt-cicle.bt-green {
  background-color: #97c9a5;
  padding: 0.938em 3.875em;
}
.bt-cicle.bt-red {
  background-color: #e45361;
}
.parallax {
  position: relative;
  width: 100%;
  height: 500px;
  min-height: 100%;
  overflow: hidden;
  background-image: url("../img/bg-full.jpg");
  background-position: 50% 0;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0 auto;
  z-index: 7;
}
.clientes {
  background: #fff;
  padding: 5em 0;
}
.box-clientes {
  display: inline-block;
  margin: 5em 0 3em;
}
.box-clientes .link:hover .img-full {
  border-color: rgba(151,151,151,0.7);
}
.box-clientes .img-full {
  border: 1px solid rgba(151,151,151,0.4);
  border-radius: 5.813em;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.servicos {
  background: #fff;
  padding: 4em 0;
}
.servicos .row + .row {
  margin-top: 2em;
}
.box-serv {
  text-align: center;
}
.serv-tit {
  font: 1.8em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1em;
}
.serv-desc {
  font: 1em encode_sansextralight;
  color: #fff;
}
.serv-tit-g {
  font: 1.8em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
}
.bg-red,
.bg-darkBlue,
.bg-blue,
.bg-orange,
.bg-green {
  padding: 4em;
}
.bg-red {
  background-color: #ec6452;
}
.bg-darkBlue {
  background-color: #3e5e6d;
  min-height: 355px;
}
.bg-blue {
  background-color: #37a8e0;
}
.bg-orange {
  background-color: #f9a542;
}
.bg-green {
  background-color: #97c9a5;
}
.bg-black {
  background-color: #353535;
}
.whatsapp {
  border-top: 1px solid rgba(151,151,151,0.3);
}
.whatsapp p {
  font: 1.7em encode_sansextralight;
  color: rgba(53,53,53,0.7);
}
.whatsapp p + p {
  margin-top: 1em;
}
.whatsapp aside {
  margin-top: -20px;
}
.tit-whats {
  font: 4.8em/1.1em encode_sansmedium;
  color: rgba(53,53,53,0.7);
  margin: 1em 0;
}
.trabalhos {
  margin-bottom: 4em;
  background: #fff;
  position: relative;
}
.trabalhos .carousel-caption {
  padding: 0;
  text-shadow: inherit;
  text-align: left;
  top: 12%;
  left: 10%;
  right: 0;
  bottom: auto;
}
.trabalhos .carousel-control {
  width: 7%;
  text-shadow: inherit;
  background: none;
}
.trabalhos .carousel-inner img {
  margin: 0 auto;
}
.trabalhos .glyphicon {
  background: url("../assets/img/icon-seta.png") no-repeat;
  width: 59px;
  height: 14px;
}
.trabalhos .tit-trab {
  font: 3.8em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.trabalhos .sub-tit-trab {
  font: 2.2em encode_sansmedium;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 1em;
}
.trabalhos .tit-p {
  margin-bottom: 1.9em;
  color: #fff;
}
.trabalhos .tit {
  margin: 1em 0;
}
.list-trabalhos .item {
  overflow: hidden;
}
.list-trabalhos [class*="col-"] {
  padding: 0;
}
.contato {
  padding: 4em 0;
  background: #353535;
}
.contato .tit,
.contato .sub-tit {
  color: #fff;
}
.contato .tit {
  font-size: 2em;
}
.contato .sub-tit {
  font-size: 1.775em;
}
.contato .form {
  padding: 4em 0;
}
.contato .form .form-menor {
  padding: 0 15em;
}
.contato .form .form-control {
  font: 1.1em encode_sanslight;
  color: #fff;
  background-color: #545252;
  border-color: #545252;
  padding: 1.2em;
}
.contato .form .form-control:focus {
  box-shadow: 0 0 8px rgba(151,201,165,0.6);
}
.contato .form .txtarea {
  height: 150px;
  resize: none;
}
.contato .bt-full-cicle {
  width: 179px;
  height: 179px;
  font: 1.688em encode_sansextrabold;
  color: #fff;
  text-transform: uppercase;
  float: right;
  border-radius: 100%;
  background: #e45361;
  margin-top: -125px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.contato .bt-full-cicle:hover {
  color: #353535;
  background: #97c9a5;
}
.rdp {
  padding: 2em 0 0;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.rdp .tit-end {
  font: 0.938em/1.8em encode_sanslight;
  color: #fff;
  margin: 2px 0 0 1.5em;
}
.box-midias {
  display: inline-block;
  margin-top: 5px;
}
.box-midias li {
  display: inline-block;
  margin-left: 8px;
}
.box-midias .facebook {
  width: 43px;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
  background: #545252 url("../img/icom-face.png") center no-repeat;
  border-radius: 100%;
  display: inline-block;
}
.box-midias .facebook:hover {
  background-color: #425f9c;
}
.box-midias .instagram {
  width: 43px;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
  background: #545252 url("../img/icon-insta.png") center no-repeat;
  border-radius: 100%;
  display: inline-block;
}
.box-midias .instagram:hover {
  background-color: #437197;
}
.box-midias .linkedin {
  width: 43px;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
  background: #545252 url("../img/icon-linkedin.png") center no-repeat;
  border-radius: 100%;
  display: inline-block;
}
.box-midias .linkedin:hover {
  background-color: #1b86bc;
}
.box-midias .icon-whatsapp {
  width: 43px;
  height: 43px;
  text-indent: -9999px;
  overflow: hidden;
  background: #545252 url("../img/icon-wpp.png") center no-repeat;
  border-radius: 100%;
  display: inline-block;
}
.box-midias .icon-whatsapp:hover {
  background-color: #97c9a5;
}
.box-int-pac {
  width: 100%;
  min-height: 100px;
  padding: 2em;
}
.box-int-pac .tit-trab,
.box-int-pac .sub-tit-trab,
.box-int-pac .tit-p {
  color: #979797;
}
.box-int-pac .tit-trab {
  font-size: 2.8em;
}
.box-int-pac .sub-tit-trab {
  font-size: 1.5em;
}
.box-int-pac .bt-cicle {
  float: left;
}
.marc {
  position: relative;
  opacity: 1 !important;
}
.marc:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  margin: 0 auto;
  z-index: 9999;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
}
